@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

h1{
    border-bottom: 2px solid black;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    /*background-image: url('./assets/1.jpg');*/
    background-size: cover;
    overflow: hidden;
}


header{
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-between;

}

main{
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    background-color: whitesmoke;
}

.page{
    width: 100vw;
    /*place-items: center;*/
    scroll-snap-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    background-image: url("./assets/17931367.jpg");
    background-size: cover;
  background-repeat: no-repeat;

}

.menu{
    display: grid;
    place-items: center;
    color: Black;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    height: 7vh;
}

footer{
    display: grid;
    place-items: center;
    background-color: lightgray;
    color: black;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2em; /* ændrer skriftstørrelse */
    line-height: 1.5em; /* ændrer linjehøjde */
    text-align: justify; /* justerer tekst */
    margin: 20px 0; /* lægger mellemrum øverst og nederst */
    color: #333; /* ændrer skriftfarve*/
    font-weight: 600; /* ændrer font-weight */
}

.page3{
    color: white;
    display: grid;
    place-items: center;
}
.page1{
    height: 100%;
    width: auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   place-items: center;
}

#frontimg{
    height: 25rem;
    width: 25rem;
}

a:link{
    color: white;
}
